section.circle-collapse-section {
    padding: 140px 0;
    text-align: center;
}
.collapse-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 116px;
    column-gap: 24px;
}
.single-collapsable-item {
    max-width: 300px;
    border-radius: 300px 300px 0 0;
    position: relative;
}
.single-collapsable-item * {
    transition: all 0.4s;
}
.collapse-content, .circle-image img {
    position: relative;
    z-index: 9;
}
.single-collapsable-item .circle-image img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.single-collapsable-item.active .circle-image img, .single-collapsable-item:hover .circle-image img {
    box-shadow: 0 12px 10px rgba(0, 0, 0, 0.25);
}
.single-collapsable-item .collapse-content {
    max-height: 0;
    transition: max-height 0.4s ease-in-out;
    overflow: hidden;
    padding: 0 16px;
    font-size: 20px;
    line-height: 1.25;
}
.single-collapsable-item .collapse-content p {
    margin: 0;
    padding: 16px 0 8px;
}
.single-collapsable-item.active .collapse-content {
    max-height: 1000px;
}
.collapse-toggle {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: calc(100% + 40px);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 300px;
}
.single-collapsable-item:hover .collapse-toggle, .single-collapsable-item.active .collapse-toggle{
    background-color: rgba(163, 122, 83, 0.5);
    height: calc(100% + 100px);
}
.single-collapsable-item .collapse-toggle h6 {
    color: #6A3400;
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    max-height: 0;
    margin: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}
.single-collapsable-item:hover .collapse-toggle h6, .single-collapsable-item.active .collapse-toggle h6{
    max-height: 24px;
}
.single-collapsable-item .collapse-toggle button {
    border: none;
    padding: 8px;
    line-height: 1;
    background: transparent;
    cursor: pointer;
}
.single-collapsable-item.active .collapse-toggle button {
    transform: rotate(180deg);
}

.right-collapse-section {
    padding: 80px 0;
}
.table-collapse-container {
    max-width: 1370px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 24px;
}
.collapsable-content {
    flex: 1;
    max-width: 370px;
    border: 3px solid #A37A53;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
    padding-right: 54px;
}
.collapsable-content.active {
    max-width: 1400px;
    padding-right: 54px;
}
.collapsable-table-images {
    max-width: 370px;
    position: relative;
    z-index: 9;
    display: flex;
}
button.collapsable-table-toggle {
    position: absolute;
    line-height: 1;
    border: none;
    padding: 8px;
    background: transparent;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
}
button.collapsable-table-toggle img {
    transform: rotate(-90deg);
}
.collapsable-table-content {
    position: absolute;
    right: 55px;
    top: 0;
    width: calc(100% - 370px);
    min-width: 830px;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 5;
}
.collapsable-content.active .collapsable-table-content {
    right: 0;
}
.collapsable-table-content h2 {
    font-size: 48px;
    font-weight: 300;
    margin: 0 0 16px;
    color: #A37A53;
    padding: 0 32px;
}
.collapsable-table {
    background: rgba(163, 122, 83, 0.5);
    padding: 0 24px;
    flex: 1;
}
.collapsable-table {
    background: rgba(163, 122, 83, 0.5);
    padding: 32px;
    flex: 1;
    font-size: 20px;
    font-weight: 300;
    color: #6A3400;
}
.collapsable-table table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
}